Debug
x64
.vs

CORE/Debug
CORE/x64
CORE_TEST/Debug
CORE_TEST/x64
INTERSECTION_CMD/Debug
INTERSECTION_CMD/x64
INTERSECTION_GUI/Debug
INTERSECTION_GUI/x64

*.ilk
*.pdb
*.lastcodeanalysissucceeded
*.iobj
*.ipdb
*.exp